h3 = ActivityLog.model_name.human

= simple_form_for(:activity_log, url: activity_logs_url, method: :get) do |f|
  .row
    .col-3
      = f.input :baby_id, label: t(:baby_id), collection: Baby.all
    .col-3
      = f.input :assistant_id, label: t(:assistant_id), collection: Assistant.all
    .col-3
      = f.input :status, label: t(:status), collection: [:started, :finished]
    .col-3
      = f.submit :search, label: t(:search), class: 'btn btn-info'

table.table.mt-3
  thead.thead-dark
    tr
      th = Baby.model_name.human
      th = Assistant.model_name.human
      th = Activity.model_name.human
      th = ActivityLog.human_attribute_name(:start_time)
      th = ActivityLog.human_attribute_name(:status)
      th = ActivityLog.human_attribute_name(:duration)
  tbody
    - @activity_logs.each do |activity_log|
      tr
        td = activity_log.baby.name
        td = activity_log.assistant.name
        td = activity_log.activity.name
        td = activity_log.start_time
        td = t("activity_log_status.#{activity_log.status}")
        td = activity_log.duration

= will_paginate @activity_logs, class: 'digg_pagination'

javascript:
  $('select').selectize();