nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    = link_to 'KineduTest', root_path, class: 'navbar-brand'
    button.navbar-toggler type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      span.navbar-toggler-icon

    div#navbarSupportedContent.collapse.navbar-collapse
      .mr-auto

      - unless user_signed_in?
        ul.navbar-nav
          li.nav-item
            = link_to 'Iniciar Sesión', new_user_session_path, class: 'nav-link'
        ul.navbar-nav
          li.nav-item
            = link_to 'Regístrate', new_user_registration_path, class: 'nav-link'
      - else
        ul.navbar-nav
          li.nav-item
            = link_to ActivityLog.model_name.human, activity_logs_path, class: 'nav-link'
          li.nav-item
            = link_to 'Cerrar Sesión', destroy_user_session_path, class: 'nav-link', method: :delete
