DOCTYPE
html
  head
    title KineduTest
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  body
    = render 'layouts/partials/navbar'
    .container.mt-5
      .row
        .col
          - if alert
              .alert.alert-danger.alert-dismissible.fade.show role="alert"
                strong.notice = alert

                button type="button" class="close" data-dismiss="alert" aria-label="Close"
                  span aria-hidden="true" &times;

          - if notice
              .alert.alert-success.alert-dismissible.fade.show role="alert"
                strong.notice = notice

                button type="button" class="close" data-dismiss="alert" aria-label="Close"
                  span aria-hidden="true" &times;

          = yield
